ul,li
{
  border:0;
  font:inherit;
  font-size:100%;
  margin:0;
  padding:0;
}

.clear
{
  clear:both;
  height:0;
  line-height:0
}

.navigation2
{
  float:left;
  margin-left:0px;
  margin-top:10px
}

.navigation2 li
{
  display:inline;
  float:left;
  margin-left:10px;
  position:relative
}

.navigation2 li a
{
  color:#202020;
  display:block;
  font-size:16px;
  height:33px;
  line-height:31px;
  padding:0 16px;
  text-decoration:none
}

.navigation2 .sfHover a,.navigation2 li:hover a
{
  background:transparent url(../images/nav_hover.png) no-repeat scroll;
  color:#fff;
  float:left;
  padding-right:11px
}

.navigation2 .sfHover .active_end,.navigation2 li:hover .active_end
{
  background:transparent url(../images/nav_hover.png) no-repeat scroll right top;  
}

.navigation2 li.active a
{
  background:transparent url(../images/nav_current.png) no-repeat scroll;
  color:#fff;
  float:left;
  padding-right:11px;
}

.navigation2 .active_end
{
  clear:right;
  display:none;
  float:left;
  height:33px;
  width:5px;
}

.navigation2 .active .active_end
{
  background:transparent url(../images/nav_current.png) no-repeat scroll right top!important;
}

.navigation2 .sfHover .active_end,.navigation2 li:hover .active_end,.navigation2 .active .active_end
{
  display:block
}

.navigation2 li ul
{
  display:block;
  left:0;
  padding-top:13px;
  position:absolute;
  visibility:hidden;
  z-index:9999
}

.navigation2 li:hover ul
{
  visibility:visible
}

.navigation2 li ul li
{
  background:url(../images/nav_sub.png) repeat-x scroll;
  display:block;
  float:none;
  margin:0;
  padding-left:10px;
}

.navigation2 li ul li:hover
{
  background-image:url(../images/nav_sub_active.png)
}

.navigation2 li ul li a
{
  background:none!important;
  color:#FFF;
  float:none!important;
  font-size:12px;
  height:30px;
  
  min-width:190px;
  padding:0!important;
  width:100%
}












